{% extends 'base.html' %}
{% block title %} Flask Feedback {% endblock %}

{% block content %}

<h1>Edit Feedback</h1>

<form action="/feedback/{{ feed.id }}/edit" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form 
    if field.widget.input_type != 'hidden' %}
  <p>
    {{ field.label }}
    {{ field (class_="form-control")}}

    {% for error in field.errors %}
    <span class="form-text text-danger"> {{ error }} </span>
    {% endfor %}
  </p>
  {% endfor %}

  <button class="btn btn-sm btn-success" formmethod="POST" formaction="/feedback/{{ feed.id }}/update">Submit</button>
  <button class="btn btn-sm btn-warning" formmethod="GET" formaction="/users/{{ feed.username }}">Cancel</button>
</form>

{% endblock %}